p, h2 {
  margin: 0;
}

h2 {
  font-weight: bolder;
  font-size: 28px;
  width: 130px;
}

p {
  font-size: 12px;
}

ion-badge {
  --background: var(--ion-color-tertiary);
  font-size: 12px;
  max-width: 70px;
  overflow: scroll;
}