<ion-content [fullscreen]="true" *ngIf="session">
  <ion-header>
    <ion-toolbar>
      <section class="flex justify-between items-center pl-0 pr-5">
        <ion-button fill="transparent" (click)="goBack()">
          <ion-icon 
            name="arrow-back" 
            slot="icon-only"
            color="tertiary"></ion-icon>
        </ion-button>
        <ion-title class="p-0 text-center">{{session.workoutName}}</ion-title>
        <h2 class="text-white/50">{{session.date}}</h2>
      </section>
    </ion-toolbar>
  </ion-header>

  <section class="w-full flex-col justify-center items-center p-5">
      <div class="w-full flex justify-between items-center">
        <h2 class="w-20 text-center font-bold text-[#5d58e0]">Time</h2>
        <h2 class="w-20 text-center font-bold text-[#5d58e0]">Tonnage</h2>
        <h2 class="w-20 text-center font-bold text-[#5d58e0]">Sets</h2>
      </div>
      <div class="w-full flex justify-between items-center">
        <p>{{ session.sessionTime }}</p>
        <p>{{ totalVolume }}</p>
        <p>{{ totalSets }}</p>
      </div>
  </section>

  <section>
    <ion-card *ngFor="let exercise of session.exercises">
      <ion-card-header>
        <ion-card-title>{{ exercise.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="flex flex-col justify-center items-start gap-2">
          <div class="w-full flex justify-between items-center px-2">
            <p>sets</p>
            <p>reps</p>
            <p></p>
            <p>weight</p>
            <p *ngIf="!exercise.enterRpe">RIR</p>
            <p *ngIf="exercise.enterRpe">RPE</p>
          </div>
          <div *ngFor="let set of exercise.sets, let i = index" class="w-full">
            <div *ngIf="set.done" class="w-full flex justify-between items-center px-2">
              <span>{{ i + 1 }}</span>
              <span>{{ set.reps }}</span>
              <span>x</span>
              <span>{{ set.weight ? set.weight : 0 }}kg</span>
              <span *ngIf="!exercise.enterRpe">{{ set.rir ? set.rir : null }}</span>
              <span *ngIf="exercise.enterRpe">{{ set.rpe ? set.rpe : null }}</span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
