<ion-content>
  <p *ngIf="!history.length">No Sessions saved yet</p>
  <ion-list>
    <ion-item-sliding *ngFor="let item of history" (ionSwipe)="presentAlert(item)">
      <ion-item-options side="start">
        <ion-item-option 
          color="translucent" 
          (click)="presentAlert(item)">
          <ion-icon 
            name="trash" 
            slot="icon-only" 
            color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item class="border-b border-b-white/20" *ngFor="let item of history">
        <ion-label>
          <div>
            <h1>{{item.workoutName}}</h1>
            <p>{{item.date}}</p>
            <p>{{item.sessionTime}}</p>
            <div>
              <h2>Exercises</h2>
              <p *ngFor="let exercise of item.exercises">{{exercise.name}}</p>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
