<ion-content>
  <p *ngIf="!history.length">No Sessions saved yet</p>
  <ion-list class="h-full">
      <ion-card *ngFor="let item of history">
        <ion-card-header>
          <div class="flex justify-between">
            <ion-card-subtitle>{{item.sessionTime}}</ion-card-subtitle>
            <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
          </div>
          <ion-card-title>{{item.workoutName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let exercise of item.exercises">
            <div *ngIf="exercise.sets.length">
              <p>{{exercise.name}} <span>({{exercise.sets.length}} sets)</span></p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
