<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
    <ion-radio-group 
        (ionChange)="setHistoryMode($event)"
        value="{{historyMode}}" 
        slot="end">
        <ion-radio value="rms">RMs</ion-radio>
        <ion-radio value="sessions">Sessions</ion-radio>
    </ion-radio-group>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-rms-history
    *ngIf="historyMode === 'rms'" 
    history="{{history}}"></app-rms-history>

  <app-sessions-history
    *ngIf="historyMode === 'sessions'"
    history="{{history}}"></app-sessions-history>
    
</ion-content>


