<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="time-sharp"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="workouts">
      <ion-icon name="barbell-sharp"></ion-icon>
      <ion-label>Workout</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="rm-calculator">
      <ion-icon name="calculator-sharp"></ion-icon>
      <ion-label>RM</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
