ion-input {
  width: 50px;
  height: 30px;
  margin: 0;
}

p {
  width: 50px;
  text-align: center;
}

.checkbox {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.set.ng-valid {
  background-color: rgba(47,223,117, 0.2);
}

.checkbox-wrapper {
  justify-content: center;
}

.sc-ion-input-md-h:not(.legacy-input) {
  min-height: 30px;
}

label {
  color: red;
}