input {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.5);
  width: 45px;
  height: 30px;
  text-align: center;
}

p {
  width: 45px;
  text-align: center;
}

.x {
  width: 20px;
}

.checkbox {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.set.ng-valid {
  background-color: rgba(47,223,117, 0.2);
}