<div class="calendar-container">
  <h1>{{ year }} {{ months[currentMonth - 1] }}</h1>
  <div class="calendar">
    <ol>
      <li class="day-name">Mo</li>
      <li class="day-name">Tu</li>
      <li class="day-name">We</li>
      <li class="day-name">Th</li>
      <li class="day-name">Fr</li>
      <li class="day-name">Sa</li>
      <li class="day-name">Su</li>
      <li 
        class="{{ week[firstDayMonth] }}" 
        [ngClass]="{
          'today': today === 1, 
          'trained': totalDaysMonth[0].trained
        }">
        1
      </li>
      <li 
        *ngFor="let day of totalDaysMonth"
        [ngClass]="{
          'today': day.number === totalDaysMonth.length 
                    ? day.number === today 
                    : day.number + 1 === today,
          'trained': day.trained
        }">
        {{ day.number === totalDaysMonth.length ? day.number : day.number + 1 }}
      </li>
    </ol>
  </div>
</div>
